*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    font-weight: 400;
    text-align: center;
}

.linea{
    background: blue;
    height: 5px;
    width: 100%;
    display: block;
}
/*iamgen 1*/
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.5);
}
/*texto imagen 1*/
.texto1{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-31%, -50%);
    -webkit-text-stroke: 2.5px rgb(255, 255, 255);
    color: black;
}
.texto11{
    font-size: 25px;
    position: absolute;
    top: 63%;
    left: 27%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
  color: black;
}
/*texto imagen 2*/
.texto2{
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 2.5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.texto22{
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 3*/
.texto3{
    font-size: 40px;
    position: absolute;
    top: 49%;
    left: 23%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto33{
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 4*/
.texto4{
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto44{
    font-size: 25px;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 5*/
.texto5{
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto55{
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 6*/
.texto6{
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto66{
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 7*/
.texto7{
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto77{
    font-size: 25px;
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-31%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 8*/
.texto8{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto88{
    font-size: 25px;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-53%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
/*texto imagen 9*/
.texto9{
    font-size: 40px;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-31%, 10%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
.texto99{
    font-size: 25px;
    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-30%, -8%);
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: black;
}
